---
import { Image } from "astro:assets";
import js from "../assets/skills/js.svg";
import ts from "../assets/skills/ts.svg"
import reactjs from "../assets/skills/reactjs.svg";
import tailwind from "../assets/skills/tailwind.svg";
import Redux from "../assets/skills/Redux.svg"
import gitHub from "../assets/navbar/gitHub.svg";
import enlace from "../assets/enlace.svg";
import proyecto1 from "../assets/proyectos/proyecto1.jpg";
import proyecto2 from "../assets/proyectos/proyecto2.png";
import proyecto3 from "../assets/proyectos/proyecto3.png";
---

<section id="proyectos" class="lg:py-32">
  <h2 class="text-5xl font-semibold text-center pb-16">Mis Proyectos</h2>
  <div class="flex justify-between">
    <div class="w-96 dark:bg-zinc-800 shadow-lg rounded-3xl overflow-hidden">
      <Image src={proyecto1} class="h-72 object-cover" alt="proyecto 1"/>
      <div class="w-full text-center px-4">
        <h3 class="mt-6 uppercase text-xl font-semibold">Api Rick and Morty</h3>
        <div class="my-6 flex justify-center gap-4">
          <Image src={reactjs} width={40} alt="react" title="react"/>
          <Image src={tailwind} width={45} alt="tailwind" title="tailwind"/>
          <Image src={js} width={35} alt="javascript" title="javascript"/>
        </div>
        <div class="flex justify-between my-6 px-6">
          <a
            href="https://roaring-wisp-e375ab.netlify.app/"
            class="flex items-center gap-2"
            target="_blank"
          >
            <Image src={enlace} alt="enlace" />
            <h4 class="underline">Vista Previa</h4>
          </a>
          <a
            href="https://github.com/thomivargas/Vargas"
            class="flex items-center gap-2"
            target="_blank"
          >
            <Image src={gitHub} width={20} alt="GitHub" />
            <h4 class="underline">Ver codigo</h4>
          </a>
        </div>
      </div>
    </div>

    <div class="w-96 dark:bg-zinc-800 shadow-lg rounded-3xl overflow-hidden">
      <Image src={proyecto2} class="h-72 object-cover" alt="proyecto 2" />
      <div class="w-full text-center px-4">
        <h3 class="mt-6 uppercase text-xl font-semibold">Api Peliculas</h3>
        <div class="my-6 flex justify-center gap-4">
          <Image src={reactjs} width={40} alt="react" title="react"/>
          <Image src={tailwind} width={45} alt="tailwind" title="tailwind"/>
          <Image src={js} width={35} alt="javascript" title="javascript"/>
          <Image src={Redux} width={35} alt="redux-toolkit" title="Redux-toolkit"/>
        </div>
        <div class="flex justify-between my-6 px-6">
          <a
            href="https://curious-licorice-b59b81.netlify.app/"
            class="flex items-center gap-2"
            target="_blank"
          >
            <Image src={enlace} alt="enlace" />
            <h4 class="underline">Vista Previa</h4>
          </a>
          <a
            href="https://github.com/thomivargas/apiPeliculas"
            class="flex items-center gap-2"
            target="_blank"
          >
            <Image src={gitHub} width={20} alt="GitHub" />
            <h4 class="underline">Ver codigo</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="w-96 dark:bg-zinc-800 shadow-lg rounded-3xl overflow-hidden">
      <Image src={proyecto3} class="h-72 object-cover" alt="proyecto 2" />
      <div class="w-full text-center px-4">
        <h3 class="mt-6 uppercase text-xl font-semibold">Api Mercado Libre</h3>
        <div class="my-6 flex justify-center gap-4">
          <Image src={reactjs} width={40} alt="react" title="react"/>
          <Image src={tailwind} width={45} alt="tailwind" title="tailwind"/>
          <Image src={ts} width={35} alt="javascript" title="javascript"/>
          <Image src={Redux} width={35} alt="redux-toolkit" title="Redux-toolkit"/>
        </div>
        <div class="flex justify-between my-6 px-6">
          <a
            href=""
            class="flex items-center gap-2"
            target="_blank"
          >
            <Image src={enlace} alt="enlace" />
            <h4 class="underline">Vista Previa</h4>
          </a>
          <a
            href="https://github.com/thomivargas/MLapp"
            class="flex items-center gap-2"
            target="_blank"
          >
            <Image src={gitHub} width={20} alt="GitHub" />
            <h4 class="underline">Ver codigo</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
